<div style="text-align: center;">
  <form style="margin-top: 50px;">
    <span style="text-align: center;">Name: </span>
    <input #movieName placeholder="name" style="margin-left: 42px;"><br><br>
    <span>ReleaseYear: </span>
    <input #releaseYear placeholder="Release year"><br>
    <button (click)="add(movieName.value, releaseYear.value); movieName.value=''; releaseYear.value=''" style="margin-left: 200px; margin-top: 10px;">Add</button>
  </form>
  <h1>List Movies: </h1>
  <ol class="movies" style="margin-left: 600px;">
    <li class="movieListItem" *ngFor="let eachMovie of movies">
      <a routerLink="/detail/{{eachMovie.id}}">{{eachMovie.name}} - {{eachMovie.releaseYear}}</a>
      <button (click)="deleteMovie(eachMovie.id)">X</button>
    </li>
  </ol>
</div>